*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



#quote-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px;
}
button{
    position:relative;
    top:40px;
}

body{
    background-color: rgb(192, 207, 213);
    opacity:0.5;
}

